[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
click = "*"
cymon = "*"
lxml = "*"
pillow = "*"
pytesseract = "*"
requests = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"